$dark: #000;
$teal: #60ebd1;
$purple: #bf28f6;
$grey: #6C6365;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.row {
  max-width: 960px;
}

.navbar-row {
  max-width: 960px;
  margin: 0 auto;
}

.panel {
  margin-top: 50px;
}

.th {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}

h1, h2, h3, h4, h5, h6, a {
  text-transform: uppercase;
  font-family: "futura-pt", sans-serif;
  font-weight: 800;
}

h1, h2, h3, h4, h5, h6 {
  color: $purple;
}

h2.section-heading {
  color: $teal
}

h1.about {
  font-size: 2em;
}

h4.about {
  font-weight: normal;
  color: $dark;
}

h1, h2, h3 {
  letter-spacing: 3px;
}

@media screen and (min-width: 40em) {
  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }
}

h3 {
  margin: 2em 0;
}

.mission-statement-container {
  position: relative;

  .overlay {
    position: absolute;
    width: 100%;
    bottom: 5%;
    text-align: center;
  }

  .circle {
    display: inline-table;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: $teal;
    padding: 1em;

    .button {
      display: table-cell;
      vertical-align: middle;
      background-color: transparent;
    }
  }

  .left,
  .right {
    position: absolute;
    bottom: 25%;
  }

  .left {
    left: 13%;
  }

  .right {
    right: 13%;
    
  }

  .button {
    background-color: $teal;
    color: $dark;
  }
}

.center-title {
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.3;
  margin-top: 1em;
  margin-bottom: 0;
}

body, input {
  font-family: "futura-pt", sans-serif;
}

.top-bar, 
.footer {
  background-color: $dark;
}

.top-bar {
  background-color: $dark;
  font-size: 75%;

  img {
    width: 50px;
  }

  ul {

    background-color: $dark;
    border-color: $dark;

    &.menu:not(.vertical) {
      background: transparent;
    }

    &.menu.vertical {
      background-color: $dark;
      border-color: $dark;
    }
  }

  a {
    color: #fff;
    background-color: transparent;
  }

  .register {
    background-color: $teal;

    a {
      color: $dark;
    }
  }
}

.top-bar-left,
.top-bar-right {
  margin: 10px 0;
}

.sticky {
  height: 70px;
}

#content {
  padding-top: 2rem;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {  
   color: $grey;  
}

.home-banner {
  
  .banner-container {
    position: relative;
  }

  .pull-up {
    position: absolute;
    bottom: 12%;
    width: 100%;
    text-align: center;
  }

  .button {
    background-color: #000;
  }
}

.home-banner, 
.home-animation {
  border-bottom: 3px solid $dark;
}

.search {
  label {
    display: none;
  }

  input {
    font-weight: 800;
  }

  
}

.footer {
  padding: 2em 0;
  margin-top: 4em;
  img {
    width: 100px;
  }

}

p.image-caption {
  font-weight: 600;
  font-style: italic;
  text-align: left;
  margin-bottom: 2em;
}

.supported-by {
  margin-top: 4em;
  padding-top: 2em;
  border-top: 4px solid;
}
// injector
// endinjector
