<div class="icons-list " ng-controller="iconDetailCtrl">
	<icons-messages></icons-messages>
	<div class="graphics-widget-items row small-up-1 medium-up-3 large-up-4">
		<div class="column" ng-repeat="icon in icons">
			<h4>{{icon.title}}</h4>
			<a href="/#/icon?iconId={{$index}}"><img class="graphic-item" ng-src="/assets/images/{{icon.filename}}" title="{{icon.title}}" /></a>
			<p>{{icon.location}}, {{icon.date}}
		</div>
	</div>
<!-- 	<div ng-if="loading" class="loading-indicator">

	</div> -->
</div>