<div class="icon" ng-controller="iconDetailCtrl">
	<div class="row">
		<div class="large-8 small-12 columns">
			<h2>{{icon.title}}</h2>
			<img class="graphic-item" ng-src="{{icon.url}}" title="{{icon.title}}" />
		</div>
		<div class="large-4 small-12 columns">
			<!-- <button class="button expand">Download Source</button> -->
			<div class="detail authors">
				<h4>Authors:</h4>
				<p><a ng-repeat="author in icon.admin" ng-href="/#/user/author._id">{{author.name}}</a></p>
			</div>
			<div class="detail added">
				<h4>Added:</h4>
				<p>{{icon.created}}</p>
			</div>
			<div class="detail location">
				<h4>Location:</h4>
				<p>{{icon.location}}</p>
			</div>
			<div class="detail tags">
				<h4>Tags:</h4>
				<p><a class="tag" ng-repeat="tag in icon.tags" ng-click="explore(tag.value)">{{tag}}{{$last ? '' : ', '}}</a></p>
			</div>
			<div ng-if="icon.remixes" class="detail related">
				<h4>Remixes:</h4>
				<div class="related-icon" ng-repeat="id in icon.remixes">
					<h5>{{icons[id].title}}</h5>
					<a href="/#/icon?iconId={{id}}"><img class="graphic-item" ng-src="/assets/images/{{icons[id].filename}}" title="{{icons[id].title}}" /></a>
				</div>
			</div>
			<div ng-if="icon.parent" class="detail related">
				<h4>Created With:</h4>
				<div class="related-icon" ng-repeat="id in icon.parent">
					<h5>{{icons[id].title}}</h5>
					<a href="/#/icon?iconId={{id}}"><img class="graphic-item" ng-src="/assets/images/{{icons[id].filename}}" title="{{icons[id].title}}" /></a>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="loading" class="loading-indicator">

	</div>
</div>
