<div class="icons-list " ng-controller="iconsListCtrl">
	<div class="graphics-widget-items row small-up-1 medium-up-3 large-up-4">
		<div class="column" ng-repeat="icon in icons">
			<h4>{{icon.title}}</h4>
			<a href="/#/icon?iconId={{icon._id}}"><img class="graphic-item" ng-src="{{icon.url}}" title="{{icon.title}}" /></a>
      <p>Tags: <a ng-repeat="tag in icon.tags" href="/#/tag/{{tag}}">{{tag}}</a></p>
			<p>Location: {{icon.location}}</p>
      <p>Uploaded: {{icon.created}}</p>
		</div>
	</div>
<!-- 	<div ng-if="loading" class="loading-indicator">

	</div> -->
</div>
