<div class="icons-list " ng-controller="iconsListCtrl">
  <div class="list-heading row small-up-12">
    <h5 ng-if="tag" >Icons tagged with: {{tag}}</h5>
    <h5 ng-if="!tag">Icons</h5>
  </div>
	<div class="graphics-widget-items row small-up-1 medium-up-3 large-up-4">
		<div class="column" ng-repeat="icon in icons">
			<h4>{{icon.title}}</h4>
			<a ui-sref="iconDetail({iconId:icon._id})"><img class="graphic-item" ng-src="{{icon.url}}" title="{{icon.title}}" /></a>
      <p>Tags: <a ng-repeat="tag in icon.tags" ui-sref="iconList({tag:tag})">{{tag}}{{$last ? '' : ', '}}</a></p>
			<p>Location: {{icon.location}}</p>
      <p>Uploaded: {{icon.created | moment : "MMMM D Y"}}</p>
		</div>
	</div>
<!-- 	<div ng-if="loading" class="loading-indicator">

	</div> -->
</div>
